extends ../base
include ../_includes/banner

block content

  h1 #{__('Notification Demo Service')}

  +banner('blue')
    p #{__('Keep your notification letter with you. You need information on that letter to use this service.')}

  div
    p #{__('Welcome to the')} <strong>#{__('Notification demo service')}</strong> #{__('service')}.
    ul
      li #{__('Morbi aliquam pellentesque urna, in dictum')}
      li #{__('Pellentesque ultricies ipsum lorem')}

  div
    a.button-link(href='/login/code' role='button' draggable='false') #{__('Start now')} <span aria-hidden="true">→</span>
