extends ../base
include ../_includes/banner

block content

  h1 #{__('Passport Renewal Notification Demo')}

  +banner('blue')
    p #{__('This is a demo of what a Passport renewal reminder system could look like.')}

  div
    p #{__('Welcome to the')} <strong>#{__('Passport Renewal Notification Demo')}</strong> #{__('service')}.
    ul
      li #{__('This demo is maintaned by')} 
       a(href='https://digital.canada.ca') CDS
      li #{__('This will not actually alert you to your passport expiry at this time')}

  div
    a.button-link(href='/login/code' role='button' draggable='false') #{__('Start now')} <span aria-hidden="true">→</span>
