extends /base

block variables
  -var title = __('personal.title')

block content

  h1 #{title}

  div
    p #{__('personal.intro')}
  form.cra-form(method='post')

    +textInput('form.fullname', null, 'form.fullname.desc')(class='w-3-4', id='fullname' name='fullname', autofocus, value=data.fullname)

    if useEmail
      +textInput('form.email', null, 'form.email.desc')(class='w-3-4', id='email' name='email', autofocus, value=data.email)

    if !useEmail
      +textInput('form.phone', null, 'form.phone.desc')(class='w-3-4', id='phone' name='phone', autofocus, value=data.phone)
    
    
    +textInput('form.passport_expiry', null, 'form.passport_expiry.desc')(class='w-3-4', id='expiry' name='expiry', autofocus, value=data.expiry)
    
    input(name='name', type='hidden', value=name)
    input(name='nonce', type='hidden', value=nonce)

    +formButtons()
