extends ../base

block variables
  -var title = __('Enter your passport number')

block content

  h1 #{title}

  div
    p #{__('Your passport number is found on the photo page of your passport, at the bottom. It is 9 characters long and starts with 2 numbers.')}

  div
    form.cra-form(method='post')
      +textInput('Passport number', null, 'For Example: A5G98S4K1')(class='w-3-4', id='code' name='code', autofocus, value=data.code)

      div
        details.
          <summary><span>#{__('Help finding your passport number')}</span></summary>
          <p>#{__('Feel free to use the Example number instead of your own passport number.')}</p>

      input#redirect(name='redirect', type='hidden', value='/personal/identity')

      +formButtons()
