extends ../base

block variables
  -var title = __('All done!')

block content

  h1 #{title}

  div
        
        <p>#{__('You’ll receive notifications about your passport nearing the expiry date at this email address:')} 
        <strong>#{'test@test.com'}</strong>
        </p>

        <p>#{__('Your confirmation number is: ')}
        <strong>#{'5H3P9IO5816'}</strong>
        <p> 
      
        
          
         <p> #{'You can use this confirmation number to call Passport Canada and get more information or troubleshoot problems with this service.'}</p>