extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Review and file tax return')
  -var count = 1;


block content

  h1 #{title}

  div
    p #{__('This is an overview of your projected tax return, and all the benefits you will receive when you file for the current tax year.')}
    p #{__('Take one final look before continuing. If something looks incorrect, please')} #[a(href="https://www.canada.ca/en/revenue-agency/corporate/contact-information/telephone-numbers.html") #{__('contact CRA')}] #{__('before filing.')}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.review})
      .multiple-choice.multiple-choice--checkboxes
        if errors
          +validationMessage(errors.review.msg, key)
        .multiple-choice__item
          input(id='review' name='review' type="checkbox" value="review" checked=(value =='review') aria-describedby=(errors ? `review-error` : false))
          label(for='review') #{__('I confirm that, as far as I know, all the information in this tax return is accurate')}

    input#redirect(name='redirect', type='hidden', value='/confirmation')

    +formButtons('Submit my return')
