extends /base
include /_includes/banner

block content

  h1 #{__('Set up passport renewal notifications')}

  +banner('blue')
    p #{__('This is a demo of what a Passport renewal reminder system could look like.')}

  div
    p #{__('With this service, you can set up notifications that will automatically inform you when your passport is near the expiry date.')}

    p #{__('What you’ll need to set up notifications:') }
    ul
      li #{__('Your passport number')}
      li #{__('Full name and email address')}
      li #{__('Your passport expiry date (YYYY-MM)')}

  div
    a.button-link(href='/personal/identity' role='button' draggable='false') #{__('Start now')} <span aria-hidden="true">→</span>
