mixin emailSmsRadios(key, value, question, errors = false)
    fieldset.fieldset
      legend.fieldset__legend #{question}
      .multiple-choice.multiple-choice--radios
        .multiple-choice__item
          input(id=`${key}Email` name=key type="radio" value="Email" checked=(value =='Email') aria-describedby=(errors ? `${key}-error` : false))
          label(for=`${key}Email`) #{__('Email')}
        .multiple-choice__item
          input(id=`${key}Sms` name=key type="radio" value="Sms" checked=(value =='Sms') aria-describedby=(errors ? `${key}-error` : false))
          label(for=`${key}Sms`) #{__('Sms')}
          if block
            block
            
